li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #fcdde081;
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    min-height: 80px; 
  }
  
  li:hover {
    background-color: #f9f5f686;

  }
  

.todo-item {
    font-size: 24px;
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);

    
}

