.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 60%;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    background-color: #af98ca;    
    border: none;
}
input:hover {
    background-color:  #f9f5f6b4;
}
input::placeholder {
    color: #FEFFAC;

}
input:focus {
    outline: 2px solid #FEFFAC; 
}
input:disabled {
    opacity: 50%;
}
.search-icon {
    position: relative;
    right: 30px;
    fill:hwb(61 68% 0%);
    
}