.icon-container {
    display: flex;
    justify-content:center ;
    align-items: center;
    font-weight: bolder;
    background-color:  #f9f5f6a6;
    margin: 8px;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    padding: 12px;
    color: black;
    cursor: pointer;
    
}

.icon-container-check--active {
    background-color: #5cf341;
}

.todo-item--complete{
    text-decoration: line-through;
}

.icon-svg {
    width: 14px;
    height: 14px;
}

.icon-container-delete .icon-svg:hover {
    fill: red;
}

.icon-container-check .icon-svg:hover {
    fill: #63c452;
}

.icon-container-edit .icon-svg:hover {
    fill: #00D8FF;
}