body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c326b;
    font-family: sans-serif;
    color: #F9F5F6;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


