body {
  margin: 0;
  background-image: url('https://i.pinimg.com/564x/b4/5e/84/b45e8435763d98ad1ed44ff627b67137.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: #F9F5F6;

}

#root {
  background-color: rgba(230, 221, 221, 0.445);
  display: grid;
  grid-template-columns: 1fr; 
  grid-auto-rows: minmax(auto, max-content); 
  gap: 10px; 

  
}


