button {
    background-color: #FEFFAC;
    position: fixed;
    top: 35%;
    left: 84%;
    height: 70px;
    width: 70px;
    text-align: center;
    color: #82A0D8;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 50%;    
    border: none;  
    outline: none; 
    box-shadow: -5px 6px 10px 0px rgba(0, 0, 0, 0.575);
    
}
.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-container form {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (min-width: 850px) {
    button {
        top: 50%;
        left: 75%;
        height: 80px;
        width: 80px;
        transform: rotate(0);
        transition: .2s ease;
    }
    button:hover{
        transform: rotate(226deg);
}  
}


