.icon-container {
    display: flex;
    justify-content:center ;
    align-items: center;
    font-weight: bolder;
    background-color:  #f9f5f6a6;
    margin: 20px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 12px;
    color: black;
    cursor: pointer;
    
}

.icon-container-check--active {
    background-color: #5cf341;
}
.todo-item--complete{
    text-decoration: line-through;
}

.icon-svg {
    width: 22px;
    height: 22px;
}


@media (min-width: 850px) {
    .icon-container-delete .icon-svg:hover {
        fill: red;
    }
    .icon-container-check .icon-svg:hover {
        fill: #63c452;
    }
}                               
