.container {
    width: 100%;
}
h1 {
    color:  #FEFFAC;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 48px;
    margin: 0;    
}
h2{
    color: #f6f5f7;
    font-size: 24px;
    text-align: center;
    padding: 48px;
    margin: 0;
}

